@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-green: #409a88;
}

@layer components {
  .active-page {
    @apply text-main-green px-3.5 py-2 cursor-pointer select-none font-bold bg-[rgb(234,234,234)] dark:bg-second-green dark:text-white !important;
  }
  .disqus a {
    @apply text-[rgb(204,204,204)];
  }
  .btn-chapter {
    @apply font-bold text-gray-200 transition-colors bg-gray-100 dark:bg-neutral-700 dark:text-neutral-400 dark:hover:bg-main-green dark:hover:text-white rounded-lg hover:bg-main-green hover:text-white shrink-0;
  }
  .chaptersBox::-webkit-scrollbar {
    width: 8px;
  }
  .chaptersBox::-webkit-scrollbar-track {
    @apply bg-neutral-700;
  }
  .chaptersBox::-webkit-scrollbar-thumb {
    @apply bg-neutral-500 rounded-full;
  }
}
* {
  -webkit-tap-highlight-color: transparent;
}
.scrollbar::-webkit-scrollbar {
  width: 6px;
}
.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 9999px;
  background-color: #999;
}
.slick-dots > li {
  margin: 0 0.5px !important;
}
li.slick-active > div {
  background-color: var(--main-green) !important;
}

div[data-="true"]:hover svg[data-hidden="true"] {
  display: none;
}

/* toastify */
.Toastify__toast {
  @apply text-black bg-white dark:text-neutral-100 dark:bg-neutral-700 !important;
}

.Toastify__progress-bar {
  height: 2.5px !important;
}

.Toastify__toast-icon {
  margin-right: 12px !important;
}

.Toastify__toast-body > div {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.Toastify__toast-container--bottom-right {
  position: absolute;
  width: 340px !important;
  margin-left: auto !important;
  bottom: 4px !important;
}

.dark .scrollbar-track {
  @apply bg-neutral-800 w-1 md:w-2 !important;
}
.dark .scrollbar-thumb {
  @apply bg-neutral-600 w-1 md:w-2 !important;
}

/* .summary * {
  line-height: 0.75rem !important;
} */

.slideInBottom {
  animation: slideInBottom 0.3s ease-out both;
}
.scaleDown {
  animation: scaleDown 0.3s ease-out both;
}
.scaleUp {
  animation: scaleUp 0.3s ease-out both;
}
/* .scrollToTopBtn-enter {
  transform: scale(0.6);
  opacity: 0;
}
.scrollToTopBtn-enter-active {
  transform: scale(1);
  opacity: 1;
  transition: opacity 300ms, transform 300ms;
}
.scrollToTopBtn-exit {
  transform: scale(1);
  opacity: 1;
}
.scrollToTopBtn-exit-active {
  transform: scale(0.6);
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
} */

@keyframes slideInBottom {
  0% {
    transform: translateY(180%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes scaleDown {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.6);
    opacity: 0;
  }
}
@keyframes scaleUp {
  0% {
    transform: scale(0.4);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@media screen and (max-width: 767px) {
  .Toastify__toast-container--top-center {
    width: 94% !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
  }
}

